# Core framework
Django>=5.0,<6.0

# REST API
djangorestframework>=3.15.0

# CORS support
django-cors-headers>=4.3.1

# JWT Authentication
djangorestframework-simplejwt>=5.3.0

# Image handling
Pillow>=10.0.0

# Database
mysqlclient>=2.2.0
dj-database-url>=2.1.0  # Database configuration

# Filter support
django-filter>=23.5

# Utilities
requests
python-dotenv

# Production Server
gunicorn>=21.2.0
whitenoise>=6.6.0  # Static files